*.csv
*.iml
*.log*
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.git
gulpTasks/gulp.config.js